<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OrangeHRM Test Suite" parallel="false">

 <listeners>
        <listener class-name="orangehrm.utility.TestListener"/>
    </listeners>

    <test name="Admin Module Tests">
        <classes>
            <class name="Admin.Create_User"/>
            <class name="Admin.Delete_User"/>
            <class name="Admin.Edit_User"/>
            <class name="Admin.Search_User"/>
        </classes>
    </test>

    <test name="Buzz Module Tests">
        <classes>
            <class name="Buzz.AddPost"/>
            <class name="Buzz.DeletePost"/>
            <class name="Buzz.EditPost"/>
        </classes>
    </test>

    <test name="Claim Module Tests">
        <classes>
            <class name="Claim.AddClaim"/>
        </classes>
    </test>

    <test name="PIM Module Tests">
        <classes>
            <class name="PIM.Add_Employee"/>
            <class name="PIM.Delete_AllEmployee"/>
            <class name="PIM.Delete_Employee"/>
            <class name="PIM.Edit_Employee"/>
            <class name="PIM.Search_Employee"/>
        </classes>
    </test>

    <test name="Recruitment Module Tests">
        <classes>
            <class name="Recruitment.AddApplicationwithShortlist"/>
            <class name="Recruitment.DeleteRecruitment"/>
            <class name="Recruitment.EditRecruitment"/>
        </classes>
    </test>

</suite>
